# __Types of python to run__

1. Immediate mode - cmd- python
2. Script mode - python file.py
3. IDE - Integrated Developement environment- spyder, pycharm, jupyter notebook

In [8]:
#single line Comment

""" Multiple line comment """
#print("Hi")

' Multiple line comment '

In [6]:
# Case sensitive language

year = 2018
Year = 2017

print(year)
print(Year)

2018
2017

## Operators

__Arithmetic Operators__

In [2]:
# + Addition
# - Subtraction
# * Multiplication
# / Division
# % Mod (the remainder after dividing)
# ** Exponentiation (note that ^ does not do this operation, as you might have seen in other languages)
# // Divides and rounds down to the nearest intege

In [6]:
#print(2+1*2/2)

## Try some of the arithmetic operators and see the response

## __Variables and Assignment Operators__

In [5]:
# salary is a variable and is asssigned a value 75000 using '=' operator
salary = 75000
salary

75000

In [7]:
# Multiple variables can also be assigned via a single line  
x = 3
y = 4
z = 5

x, y, z = 3, 4, 5
print(x,y,z)

3 4 5

### Get inputs from the user during run time

In [18]:
salary=int(input('Enter your monthly salary details to check for your loan Eligibility:'))
print(' You are eligible for 10,00000 Lakh rupees for a salary of:', salary)

Enter your monthly salary details to check for your loan Eligibility:500000
 You are eligible for 10,00000 Lakh rupees for a salary of: 500000

In [11]:

#1. Only use ordinary letters, numbers and underscores in your variable names. 
#They can’t have spaces, and need to start with a letter or underscore.

#2. You can’t use reserved words or built-in identifiers

#3.The pythonic way to name variables is to use all lowercase letters and underscores to separate words.

_**Alternative Assignment method**_

In [23]:
#Alternative Assignment method
#To add 1000 to the salary variable, it can be done as below

salary+=1000
salary

503200

In [60]:
a=100
b=200

In [61]:
a
b

200

In [63]:
type(a)

int

In [65]:
a='hi'

In [71]:
print(a+' ' +str(b))

hi 200

In [70]:
print(a+b)

TypeError: must be str, not int

In [62]:
print(a)
print(b)

100
200

# Data Types
__Integers and Floats__

_There are two Python data types that could be used for numeric values:_

_int - for integer values_                                              
_float - for decimal or floating point values_

In [21]:
a=100 #int data type
b=101.5 #Float data type

__Booleans__


_True_                                              
_False_

In [22]:
5 < 3

False

__Booleans, Comparison Operators, and Logical Operators__

_There are 6 comparison operators that are common to see in order to obtain a bool value_

_3 logical operators you need to be familiar with:_

In [24]:
print(5 < 3 or 5 == 5)
print(5 < 3 and 5 == 5)

True
False

## __Strings__

In [102]:
my_string = 'this is a string - how are you'
my_string

'this is a string - how are you'

In [105]:
my_string.split()

['this', 'is', 'a', 'string', '-', 'how', 'are', 'you']

In [106]:
my_string.upper()

'THIS IS A STRING - HOW ARE YOU'

In [107]:
my_string.title()

'This Is A String - How Are You'

In [110]:
my_string.split()

['this', 'is', 'a', 'string', '-', 'how', 'are', 'you']

In [90]:
my_string.split(maxsplit=3)

['this', 'is', 'a', 'string - how are you']

In [93]:
my_string[10:]

'string - how are you'

In [49]:
# Use backslash followed by the quotes (\') if you need ' to be part of the string
my_string1 = 'this is a string\'s!'
my_string1

"this is a string's!"

In [33]:
#String

#String is a immutable

welcome = "Hi, How are you?"
print (welcome)

welcome = "Hello, how are you?"
print (welcome)

print (welcome[4])

#welcome[4] = "s"  # Immutable

Hi, How are you?
Hello, how are you?
o

In [26]:
first_word = 'Hello'
second_word = 'There'
print(first_word + second_word)

HelloThere

In [34]:
#The len() function

len(welcome)

19

In [37]:
# upper() method
welcome.upper()

'HELLO, HOW ARE YOU?'

In [40]:
# capitalize() method
welcome.capitalize()

'Hello, how are you?'

In [39]:
# title() method
welcome.title()

'Hello, How Are You?'

In [44]:
# Count the letter A in welcome
welcome.count('A')

1

In [45]:
# replace() method - replaces the actual letter with the new letter
welcome.replace('H','W')

'WELLO, WOW ARE YOU?'

### __String Methods__

_Methods actually are functions that are called using dot notation. For example, lower() is a string method that can be used like this, on a string called "sample string": sample_string.lower()_

In [50]:
print(my_string.islower())

print(my_string.count('a'))

True
1

In [38]:
#One important string method: format()

# Example 1
print("Earth has {} planets".format(9))

# Example 2
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Earth has 9 planets
Does your dog bite?

In [40]:
#Another important string method: split()
#A basic split method:
new_str = "The man stepped over the moon."
new_str.split()

['The', 'man', 'stepped', 'over', 'the', 'moon.']

In [41]:
#Here the separator is space, and the maxsplit argument is set to 3.
new_str.split(' ', 3)

['The', 'man', 'stepped', 'over the moon.']

In [98]:
print('There are {} people working in {} companies'.format(1000,10))

There are 1000 people working in 10 companies

In [101]:
print('There are {1} people working in {0} companies'.format(1000,10))

There are 10 people working in 1000 companies

### __Type And Type Conversion__

In [32]:
type(my_string)

str

In [33]:
a=101.5
type(a)

float

In [35]:
b=int(a)
print(b)
print(type(b))

101
<class 'int'>

In [48]:
a = 5
print("a is of type", type(a))

a = 4.35
print("a is of type", type(a))

a = "Hello"
print("a is of type", type(a))

a = 1+2j
print("a is of type", type(a))

isinstance("dcfsd",str)

('a is of type', <type 'int'>)
('a is of type', <type 'float'>)
('a is of type', <type 'str'>)
('a is of type', <type 'complex'>)

True

### __Data structures__

_Lists_                                                                                                                         
_Tuples_                                                                                                                         
_Sets_                                                                                                                         
_Dictionaries_

### __Lists__

_lists are one of the most common and basic data structures in Python_                                                           
_list is created with square brackets_                                                            
_Lists can contain any mix and match of the data types you have seen so far_                                                     _Lists are Mutable_

In [37]:
sample=['jan','feb','mar','apr','may']
print(sample)

['jan', 'feb', 'mar', 'apr', 'may']

In [38]:
sample[0] = 'python'
print(sample)

['python', 'feb', 'mar', 'apr', 'may']

In [39]:
'python' in sample

True

In [42]:
# Example of non mutability in strings
#company='I work in Python'
#company
#company[0] = 'M'

In [105]:
len(sample)

5

In [46]:
list_of_random_things = [1, 3.4, 'a string', True]
list_of_random_things

[1, 3.4, 'a string', True]

In [47]:
type(list_of_random_things)

list

In [49]:
#Slicing in List
#When using slicing, it is important to remember that the lower index is inclusive and the upper index is exclusive
list_of_random_things[1:2]

[3.4]

In [143]:
#Mutability

my_lst = [1, 2, 3, 4, 5]
print(my_lst)

my_lst[0] = 'one'
print(my_lst)

[1, 2, 3, 4, 5]
['one', 2, 3, 4, 5]

### Try creating a Copy of list and modifying new copy

In [156]:
a=[1,2,3,4,5]
b=a
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### List Methods

In [135]:
# List2.extend(List1) 
# reverse()
# pop()
# remove
# count
# applying min,max,sum functions

In [52]:
#join is a string method which works on list to join a string

new_str = "-".join(["Axis", "HDFC", "RBS", "ICICI"])
print(new_str)

Axis-HDFC-RBS-ICICI

In [196]:
a=["Axis", "HDFC", "RBS", "ICICI"]

In [197]:
a

['Axis', 'HDFC', 'RBS', 'ICICI']

In [198]:
"-".join(a)

'Axis-HDFC-RBS-ICICI'

In [52]:
#join is a string method which works on list to join a string

new_str = "-".join(["Axis", "HDFC", "RBS", "ICICI"])
print(new_str)

Axis-HDFC-RBS-ICICI

In [53]:
#append method

companies = ['CTS', 'TCS', 'Infosys', 'Paypal']
companies.append('RBS')
print(companies)

['CTS', 'TCS', 'Infosys', 'Paypal', 'RBS']

In [89]:
Countries = ['India', 'Pakistan', "US",'China','Canada']
Countries

['India', 'Pakistan', 'US', 'China', 'Canada']

In [93]:
Countries.index('US')

2

In [83]:
list=['Abhijit','rahul','sharique',['sameer','sam']]

In [87]:
list[3][1]

'sam'

In [86]:
type(list[1])

str

### __Functions for Lists__

In [56]:
#Try these functions
#len()
#max()
#min()
#sorted()

### __Membership Operators__

_in and not in_

In [193]:
Countries = ['India', 'Pakistan', "US",'China','Canada']
Countries

['India', 'Pakistan', 'US', 'China', 'Canada']

In [195]:
Countries.count('India')

1

In [90]:
'India' in Countries

True

In [95]:
Countries[0] = 'Ind'

In [100]:
Countries

['Ind', 'Pakistan', 'US', 'China', 'Canada']

In [91]:
'India' not in Countries

False

In [169]:
list1=[1,2,3,4,5,4]
list2=[6,7,8]

In [159]:
list1

[1, 2, 3, 4, 4, 5]

In [145]:
list1+list2

[1, 2, 3, 4, 5, [6, 7, 8], 6, 7, 8]

In [139]:
list1.append(list2)

In [153]:
list2.insert(0,list1)

In [154]:
list2

[[1, 2, 3, 4, 5], 6, 7, 8]

## __Tuples__

_Tuple is a data type for immutable ordered sequences of elements_

In [167]:
location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])

Latitude: 13.4125
Longitude: 103.866667

In [168]:
location.count

(13.4125, 103.866667)

In [165]:
location[1]

103.866667

In [166]:
location[0] = 100

TypeError: 'tuple' object does not support item assignment

In [3]:
# 3 variables are assigned from the content of the tuple dimensions. This is called tuple unpacking
dimensions = 52, 40, 100
length, width, height = dimensions

# We can use tuple unpacking to assign the information from a tuple into multiple variables 
# without having to access them one by one and make multiple assignment statements

## __Sets__

_A set is a data type for mutable unordered collections of unique elements_                                                     
_One application of a set is to quickly remove duplicates from a list_

In [182]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

In [192]:
unique_nums

{1, 2, 3, 5, 6, 10}

Bank_loans = {'Axis', 'HDFC', 'ICICI'}  # define a set

print("RBS" in Bank_loans)  # check for element

Bank_loans.add("SBI")  # add an element
print(Bank_loans)

print(Bank_loans.pop())  # remove a random element
print(Bank_loans)

In [209]:
Credit_cards = {1,2,3,4,5,6,7,8}
debit_cards = {10,4,5,23,8,7,9}

In [210]:
Credit_cards.intersection(debit_cards)

{4, 5, 7, 8}

In [211]:
Credit_cards.intersection_update(debit_cards)

In [207]:
Credit_cards.difference_update(debit_cards)

In [212]:
Credit_cards

{4, 5, 7, 8}

In [170]:
Credit_cards.difference(debit_cards)

{1, 2, 3, 6}

In [171]:
debit_cards.difference(Credit_cards)

{9, 10, 23}

In [173]:
Credit_cards.union(debit_cards)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 23}

In [56]:
fruit = {"strawberry", "apple", "banana", "grapes", "mango"}  # define a set
fruit

{'apple', 'banana', 'grapes', 'mango', 'strawberry'}

In [57]:
fruit_1 = {"apple", "berry", "banana", "orange", "grapefruit"}  # define a set
fruit_1

{'apple', 'banana', 'berry', 'grapefruit', 'orange'}

In [58]:
fruit.difference(fruit_1)

{'grapes', 'mango', 'strawberry'}

In [12]:
#fruit_1.symmetric_difference(fruit)

_Methods like union, intersection,difference are easy to perform in sets_

## __Dictionaries __

_A dictionary is a mutable data type that stores mappings of unique keys to values_

In [9]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

2

In [11]:
# Checking the values in Dict 
print("carbon" in elements) 
print(elements.get("dilithium"))

True
None

## Identity Operators
### Keyword	Operator

_is	evaluates if both sides have the same identity_                                                                             
_is not	evaluates if both sides have different identities_

In [12]:
n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

## __Compound Data Structures __

_We can include containers in other containers to create compound data structures. _

In [13]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [14]:
helium = elements["helium"]  # get the helium dictionary
hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight

In [15]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary 
elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary
print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

## Syntax Errors and Exceptions


_There are two types of errors to look out for_

_Exceptions - Exception is a problem that occurs when the code is running_                                                      
_Syntax - Syntax Error is a problem detected when Python checks the code before it runs it_

In [36]:
# Exceptions
print(5/0)

ZeroDivisionError: division by zero

try:
    5/0
except ZeroDivisionError as err:
    print('Handling run-time error:', err)

def test():
    a= int(input('Please enter first number: '))
    b= int(input('Please enter second number: '))
    return a/b